{
  "openapi": "3.1.0",
  "info": {
    "title": "ai& API",
    "version": "1.0.0",
    "description": "Unified spec covering inference, files, and other public surfaces. Drop-in compatible with OpenAI and Anthropic SDKs."
  },
  "servers": [
    {
      "url": "https://api.aiand.com",
      "description": "ai& API"
    }
  ],
  "paths": {
    "/v1/models": {
      "get": {
        "operationId": "listModels",
        "tags": [
          "openai"
        ],
        "summary": "List models",
        "description": "Lists all active models with pricing.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "list"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "object": {
                            "type": "string",
                            "const": "model"
                          },
                          "created": {
                            "type": "integer"
                          },
                          "owned_by": {
                            "type": "string",
                            "example": "ai&"
                          },
                          "provider": {
                            "type": "string"
                          },
                          "context_window": {
                            "type": "integer"
                          },
                          "capabilities": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "description": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "input_per_1m": {
                            "type": "string"
                          },
                          "output_per_1m": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "object",
                          "created",
                          "owned_by",
                          "provider",
                          "context_window",
                          "capabilities",
                          "description",
                          "input_per_1m",
                          "output_per_1m"
                        ]
                      }
                    }
                  },
                  "required": [
                    "object",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/chat/completions": {
      "post": {
        "operationId": "createChatCompletion",
        "tags": [
          "openai"
        ],
        "summary": "Create a chat completion",
        "description": "Creates a chat completion for the provided messages and parameters.",
        "requestBody": {
          "description": "The request body for the chat completion",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateChatCompletionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateChatCompletionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/v1/completions": {
      "post": {
        "operationId": "createCompletion",
        "tags": [
          "openai"
        ],
        "summary": "Create a completion",
        "description": "Creates a completion for the provided prompt and parameters. This is a legacy endpoint \u2014 use /v1/chat/completions for new integrations.",
        "requestBody": {
          "description": "The request body for the completion",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCompletionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCompletionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/v1/responses": {
      "post": {
        "operationId": "createResponse",
        "tags": [
          "openai"
        ],
        "summary": "Create a response",
        "description": "Creates a response for the provided input and parameters.",
        "requestBody": {
          "description": "The request body for the response.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateResponseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateResponseResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/v1/files": {
      "post": {
        "operationId": "uploadFile",
        "tags": [
          "files"
        ],
        "summary": "Upload a file",
        "description": "Multipart form upload.",
        "requestBody": {
          "description": "The file bytes plus optional purpose hint",
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/CreateFileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The uploaded file's metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileObject"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "get": {
        "operationId": "listFiles",
        "tags": [
          "files"
        ],
        "summary": "List files",
        "description": "Returns files in reverse-chronological order (newest first).",
        "responses": {
          "200": {
            "description": "Paginated list of files",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/files/{id}": {
      "get": {
        "operationId": "getFile",
        "tags": [
          "files"
        ],
        "summary": "Retrieve a file",
        "description": "Returns metadata for a single file.",
        "responses": {
          "200": {
            "description": "The file's metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileObject"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ]
      },
      "delete": {
        "operationId": "deleteFile",
        "tags": [
          "files"
        ],
        "summary": "Delete a file",
        "description": "Soft-deletes the file row and best-effort removes the underlying R2 object.",
        "responses": {
          "200": {
            "description": "The deleted file marker",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileDeleted"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ]
      }
    },
    "/v1/files/{id}/content": {
      "get": {
        "operationId": "getFileContent",
        "tags": [
          "files"
        ],
        "summary": "Download file content",
        "description": "Returns the raw bytes with `Content-Type` and `Content-Disposition` headers set from the upload metadata.",
        "responses": {
          "200": {
            "description": "The file bytes",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ]
      }
    },
    "/v1/uploads": {
      "post": {
        "operationId": "createUpload",
        "tags": [
          "uploads"
        ],
        "summary": "Create an upload session",
        "description": "Creates a chunked upload session for files larger than the single-shot `/v1/files` cap. Sessions expire 1 hour after creation.",
        "requestBody": {
          "description": "Upload metadata declared up front",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUploadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The upload session in `pending` status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadObject"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/uploads/{id}/parts": {
      "post": {
        "operationId": "addUploadPart",
        "tags": [
          "uploads"
        ],
        "summary": "Add a part to an upload",
        "description": "Uploads up to 64 MB of bytes as one part of a pending session. Parts must be added in order \u2014 completing the upload submits them in the order returned to the client.",
        "requestBody": {
          "description": "Bytes for this part",
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AddUploadPartRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The part record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadPartObject"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ]
      }
    },
    "/v1/uploads/{id}/complete": {
      "post": {
        "operationId": "completeUpload",
        "tags": [
          "uploads"
        ],
        "summary": "Complete an upload",
        "description": "Assembles the listed parts in order and materializes the upload as a regular `file-...` object referenced via the returned `file` field.",
        "requestBody": {
          "description": "Ordered part_ids to assemble",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompleteUploadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The completed upload, with `file` populated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadObject"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ]
      }
    },
    "/v1/uploads/{id}/cancel": {
      "post": {
        "operationId": "cancelUpload",
        "tags": [
          "uploads"
        ],
        "summary": "Cancel an upload",
        "description": "Aborts the underlying R2 multipart upload and marks the session `cancelled`. Idempotent \u2014 already-completed or already-cancelled sessions return 404.",
        "responses": {
          "200": {
            "description": "The cancelled upload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadObject"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "id",
            "required": true
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "CreateChatCompletionRequest": {
        "type": "object",
        "properties": {
          "model": {
            "type": "string",
            "description": "ID of the model to use for the chat completion."
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChatCompletionMessage"
            },
            "minItems": 1,
            "description": "A list of messages comprising the conversation so far."
          },
          "stream": {
            "type": [
              "boolean",
              "null"
            ],
            "default": false,
            "description": "If true, partial message deltas will be sent as server-sent events."
          },
          "stream_options": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "include_usage": {
                "type": "boolean"
              }
            }
          },
          "temperature": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0,
            "maximum": 2,
            "description": "Sampling temperature between 0 and 2. Higher values make output more random."
          },
          "top_p": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0,
            "maximum": 1,
            "description": "Nucleus sampling: consider tokens with top_p probability mass."
          },
          "n": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 1,
            "maximum": 128,
            "description": "How many chat completion choices to generate."
          },
          "max_tokens": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Maximum number of tokens to generate. Deprecated in favor of max_completion_tokens.",
            "deprecated": true
          },
          "max_completion_tokens": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Upper bound for tokens that can be generated, including visible output and reasoning tokens."
          },
          "stop": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "minItems": 1,
                "maxItems": 4
              },
              {
                "type": "null"
              }
            ]
          },
          "frequency_penalty": {
            "type": [
              "number",
              "null"
            ],
            "minimum": -2,
            "maximum": 2,
            "description": "Number between -2.0 and 2.0. Positive values penalize tokens based on existing frequency."
          },
          "presence_penalty": {
            "type": [
              "number",
              "null"
            ],
            "minimum": -2,
            "maximum": 2,
            "description": "Number between -2.0 and 2.0. Positive values penalize tokens based on whether they appear in the text so far."
          },
          "logprobs": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Whether to return log probabilities of the output tokens."
          },
          "top_logprobs": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "maximum": 20,
            "description": "Number of most likely tokens to return at each position (0-20). Requires logprobs=true."
          },
          "logit_bias": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {
              "type": "integer"
            },
            "description": "Map of token IDs to bias values (-100 to 100) to modify likelihood of specified tokens."
          },
          "response_format": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "const": "text"
                  }
                },
                "required": [
                  "type"
                ]
              },
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "const": "json_object"
                  }
                },
                "required": [
                  "type"
                ]
              },
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "const": "json_schema"
                  },
                  "json_schema": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "schema": {
                        "type": "object",
                        "additionalProperties": true
                      },
                      "strict": {
                        "type": [
                          "boolean",
                          "null"
                        ]
                      }
                    },
                    "required": [
                      "name"
                    ],
                    "additionalProperties": true
                  }
                },
                "required": [
                  "type",
                  "json_schema"
                ]
              }
            ],
            "description": "Output format: { \"type\": \"text\" }, { \"type\": \"json_object\" }, or { \"type\": \"json_schema\", \"json_schema\": {...} }."
          },
          "seed": {
            "type": [
              "integer",
              "null"
            ],
            "description": "If specified, the system will attempt deterministic sampling. Determinism is not guaranteed."
          },
          "tools": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "const": "function"
                },
                "function": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "parameters": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "strict": {
                      "type": [
                        "boolean",
                        "null"
                      ]
                    }
                  },
                  "required": [
                    "name"
                  ]
                }
              },
              "required": [
                "type",
                "function"
              ]
            },
            "description": "A list of tools the model may call."
          },
          "tool_choice": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "none",
                  "auto",
                  "required"
                ]
              },
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "const": "function"
                  },
                  "function": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "name"
                    ]
                  }
                },
                "required": [
                  "type",
                  "function"
                ]
              }
            ],
            "description": "Controls which tool is called. \"none\", \"auto\", \"required\", or a specific tool object."
          },
          "parallel_tool_calls": {
            "type": "boolean",
            "description": "Whether to enable parallel function calling during tool use."
          },
          "reasoning_effort": {
            "type": "string",
            "enum": [
              "none",
              "minimal",
              "low",
              "medium",
              "high",
              "xhigh"
            ],
            "description": "Constrains reasoning effort for reasoning models. One of: none, minimal, low, medium, high, xhigh."
          },
          "top_k": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": -1,
            "description": "Number of highest probability tokens to keep for top-k sampling. -1 to disable."
          },
          "min_p": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0,
            "maximum": 1,
            "description": "Minimum probability threshold relative to the top token. Tokens below this are filtered out. 0.0 to disable."
          },
          "repetition_penalty": {
            "type": [
              "number",
              "null"
            ],
            "description": "Penalizes new tokens based on whether they appear in the generated text so far. Values > 1.0 penalize repetitions."
          },
          "min_tokens": {
            "type": "integer",
            "minimum": 0,
            "description": "Minimum number of tokens to generate before allowing a stop condition."
          },
          "echo": {
            "type": "boolean",
            "description": "If true, the prompt is prepended to the generated output."
          },
          "user": {
            "type": [
              "string",
              "null"
            ],
            "description": "A unique identifier representing your end-user."
          }
        },
        "required": [
          "model",
          "messages"
        ],
        "additionalProperties": true
      },
      "ChatCompletionMessage": {
        "anyOf": [
          {
            "type": "object",
            "properties": {
              "role": {
                "type": "string",
                "const": "developer"
              },
              "content": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "text"
                        },
                        "text": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "type",
                        "text"
                      ]
                    },
                    "minItems": 1
                  }
                ]
              },
              "name": {
                "type": "string"
              }
            },
            "required": [
              "role",
              "content"
            ]
          },
          {
            "type": "object",
            "properties": {
              "role": {
                "type": "string",
                "const": "system"
              },
              "content": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "text"
                        },
                        "text": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "type",
                        "text"
                      ]
                    },
                    "minItems": 1
                  }
                ]
              },
              "name": {
                "type": "string"
              }
            },
            "required": [
              "role",
              "content"
            ]
          },
          {
            "type": "object",
            "properties": {
              "role": {
                "type": "string",
                "const": "user"
              },
              "content": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "text"
                            },
                            "text": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "type",
                            "text"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "image_url"
                            },
                            "image_url": {
                              "type": "object",
                              "properties": {
                                "url": {
                                  "type": "string"
                                },
                                "detail": {
                                  "type": "string",
                                  "enum": [
                                    "auto",
                                    "low",
                                    "high"
                                  ],
                                  "default": "auto"
                                }
                              },
                              "required": [
                                "url"
                              ]
                            }
                          },
                          "required": [
                            "type",
                            "image_url"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "video_url"
                            },
                            "video_url": {
                              "type": "object",
                              "properties": {
                                "url": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "url"
                              ]
                            }
                          },
                          "required": [
                            "type",
                            "video_url"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "input_audio"
                            },
                            "input_audio": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "string"
                                },
                                "format": {
                                  "type": "string",
                                  "enum": [
                                    "wav",
                                    "mp3"
                                  ]
                                }
                              },
                              "required": [
                                "data",
                                "format"
                              ]
                            }
                          },
                          "required": [
                            "type",
                            "input_audio"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "audio_url"
                            },
                            "audio_url": {
                              "type": "object",
                              "properties": {
                                "url": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "url"
                              ]
                            }
                          },
                          "required": [
                            "type",
                            "audio_url"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "file"
                            },
                            "file": {
                              "type": "object",
                              "properties": {
                                "filename": {
                                  "type": "string"
                                },
                                "file_data": {
                                  "type": "string"
                                },
                                "file_id": {
                                  "type": "string"
                                }
                              },
                              "additionalProperties": true
                            }
                          },
                          "required": [
                            "type",
                            "file"
                          ]
                        }
                      ]
                    },
                    "minItems": 1
                  }
                ]
              },
              "name": {
                "type": "string"
              }
            },
            "required": [
              "role",
              "content"
            ]
          },
          {
            "type": "object",
            "properties": {
              "role": {
                "type": "string",
                "const": "assistant"
              },
              "content": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "text"
                            },
                            "text": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "type",
                            "text"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "refusal"
                            },
                            "refusal": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "type",
                            "refusal"
                          ]
                        }
                      ]
                    },
                    "minItems": 1
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "refusal": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "name": {
                "type": "string"
              },
              "tool_calls": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string",
                      "const": "function"
                    },
                    "function": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "arguments": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "name",
                        "arguments"
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "type",
                    "function"
                  ]
                }
              }
            },
            "required": [
              "role"
            ],
            "additionalProperties": true
          },
          {
            "type": "object",
            "properties": {
              "role": {
                "type": "string",
                "const": "tool"
              },
              "content": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "text"
                        },
                        "text": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "type",
                        "text"
                      ]
                    },
                    "minItems": 1
                  }
                ]
              },
              "tool_call_id": {
                "type": "string"
              }
            },
            "required": [
              "role",
              "content",
              "tool_call_id"
            ]
          }
        ]
      },
      "CreateCompletionRequest": {
        "type": "object",
        "properties": {
          "model": {
            "type": "string",
            "description": "ID of the model to use for the completion."
          },
          "prompt": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "The prompt(s) to generate completions for."
          },
          "stream": {
            "type": [
              "boolean",
              "null"
            ],
            "default": false,
            "description": "If true, partial completions will be sent as server-sent events."
          },
          "stream_options": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "include_usage": {
                "type": "boolean"
              }
            }
          },
          "temperature": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0,
            "maximum": 2,
            "description": "Sampling temperature between 0 and 2."
          },
          "top_p": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0,
            "maximum": 1,
            "description": "Nucleus sampling: consider tokens with top_p probability mass."
          },
          "n": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 1,
            "maximum": 128,
            "description": "How many completions to generate for each prompt."
          },
          "max_tokens": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Maximum number of tokens to generate."
          },
          "stop": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "minItems": 1,
                "maxItems": 4
              },
              {
                "type": "null"
              }
            ]
          },
          "frequency_penalty": {
            "type": [
              "number",
              "null"
            ],
            "minimum": -2,
            "maximum": 2,
            "description": "Penalizes tokens based on existing frequency in the text so far."
          },
          "presence_penalty": {
            "type": [
              "number",
              "null"
            ],
            "minimum": -2,
            "maximum": 2,
            "description": "Penalizes tokens based on whether they appear in the text so far."
          },
          "logprobs": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "maximum": 5,
            "description": "Include the log probabilities on the most likely output tokens (0-5)."
          },
          "echo": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Echo back the prompt in addition to the completion."
          },
          "best_of": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 1,
            "description": "Generates best_of completions server-side and returns the best one. Cannot be used with stream."
          },
          "suffix": {
            "type": [
              "string",
              "null"
            ],
            "description": "The suffix that comes after the completion."
          },
          "seed": {
            "type": [
              "integer",
              "null"
            ],
            "description": "If specified, the system will attempt deterministic sampling."
          },
          "user": {
            "type": [
              "string",
              "null"
            ],
            "description": "A unique identifier representing your end-user."
          }
        },
        "required": [
          "model",
          "prompt"
        ],
        "additionalProperties": true
      },
      "CreateResponseRequest": {
        "type": "object",
        "properties": {
          "model": {
            "type": "string",
            "description": "ID of the model to use for this response."
          },
          "input": {
            "$ref": "#/components/schemas/ResponseInput",
            "description": "Text, image, or file inputs to the model. Can be a string or an array of input items."
          },
          "instructions": {
            "type": [
              "string",
              "null"
            ],
            "description": "A system (or developer) message inserted into the model's context."
          },
          "stream": {
            "type": [
              "boolean",
              "null"
            ],
            "default": false,
            "description": "If true, response data will be streamed as server-sent events."
          },
          "temperature": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0,
            "maximum": 2,
            "description": "Sampling temperature between 0 and 2. Higher values make output more random."
          },
          "top_p": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0,
            "maximum": 1,
            "description": "Nucleus sampling: consider tokens with top_p probability mass."
          },
          "max_output_tokens": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Upper bound for tokens that can be generated, including visible output and reasoning tokens."
          },
          "tools": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "const": "function"
                },
                "name": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "parameters": {
                  "type": "object",
                  "additionalProperties": true
                },
                "strict": {
                  "type": [
                    "boolean",
                    "null"
                  ]
                }
              },
              "required": [
                "type",
                "name"
              ],
              "additionalProperties": true
            },
            "description": "An array of function tools the model may call while generating a response."
          },
          "tool_choice": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "none",
                  "auto",
                  "required"
                ]
              },
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "const": "function"
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "required": [
                  "type",
                  "name"
                ]
              }
            ],
            "description": "How the model should select which tool to use. \"none\", \"auto\", \"required\", or a specific tool."
          },
          "parallel_tool_calls": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Whether to allow the model to run tool calls in parallel."
          },
          "reasoning": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "effort": {
                "type": "string",
                "enum": [
                  "none",
                  "minimal",
                  "low",
                  "medium",
                  "high",
                  "xhigh"
                ]
              },
              "summary": {
                "type": [
                  "string",
                  "null"
                ],
                "enum": [
                  "auto",
                  "concise",
                  "detailed",
                  null
                ]
              }
            },
            "description": "Configuration for reasoning models: effort level and summary format."
          },
          "truncation": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "auto",
              "disabled",
              null
            ],
            "description": "\"auto\" truncates input to fit context window. \"disabled\" (default) returns 400 if input exceeds context."
          },
          "previous_response_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "ID of a previous response to continue a multi-turn conversation."
          },
          "store": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Whether to store the response for later retrieval via API."
          },
          "metadata": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {
              "type": "string"
            },
            "description": "Set of key-value pairs for additional information."
          },
          "text": {
            "type": "object",
            "properties": {
              "format": {
                "anyOf": [
                  {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "const": "text"
                      }
                    },
                    "required": [
                      "type"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "const": "json_object"
                      }
                    },
                    "required": [
                      "type"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "const": "json_schema"
                      },
                      "name": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "schema": {
                        "type": "object",
                        "additionalProperties": true
                      },
                      "strict": {
                        "type": [
                          "boolean",
                          "null"
                        ]
                      }
                    },
                    "required": [
                      "type",
                      "name"
                    ]
                  }
                ]
              }
            },
            "additionalProperties": true,
            "description": "Configuration for text response format (text, json_object, json_schema)."
          },
          "top_logprobs": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "maximum": 20,
            "description": "Number of most likely tokens to return at each position (0-20)."
          },
          "seed": {
            "type": [
              "integer",
              "null"
            ],
            "description": "If specified, the system will attempt deterministic sampling."
          },
          "stop": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "minItems": 1,
                "maxItems": 4
              },
              {
                "type": "null"
              }
            ],
            "description": "Up to 4 sequences where the API will stop generating further tokens."
          },
          "top_k": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": -1,
            "description": "Number of highest probability tokens to keep for top-k sampling. -1 to disable."
          },
          "repetition_penalty": {
            "type": [
              "number",
              "null"
            ],
            "description": "Penalizes new tokens based on whether they appear in the generated text so far. Values > 1.0 penalize repetitions."
          },
          "min_tokens": {
            "type": "integer",
            "minimum": 0,
            "description": "Minimum number of tokens to generate before allowing a stop condition."
          }
        },
        "required": [
          "model",
          "input"
        ],
        "additionalProperties": true
      },
      "ResponseInput": {
        "anyOf": [
          {
            "type": "string"
          },
          {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "type": "object",
                  "properties": {
                    "role": {
                      "type": "string",
                      "enum": [
                        "user",
                        "assistant",
                        "developer",
                        "system"
                      ]
                    },
                    "content": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "array",
                          "items": {
                            "anyOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "const": "input_text"
                                  },
                                  "text": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "type",
                                  "text"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "const": "input_image"
                                  },
                                  "image_url": {
                                    "type": "string"
                                  },
                                  "file_id": {
                                    "type": "string"
                                  },
                                  "detail": {
                                    "type": "string",
                                    "enum": [
                                      "auto",
                                      "low",
                                      "high"
                                    ]
                                  }
                                },
                                "required": [
                                  "type"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "const": "input_file"
                                  },
                                  "file_id": {
                                    "type": "string"
                                  },
                                  "file_data": {
                                    "type": "string"
                                  },
                                  "filename": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "type"
                                ]
                              }
                            ]
                          },
                          "minItems": 1
                        }
                      ]
                    }
                  },
                  "required": [
                    "role",
                    "content"
                  ],
                  "additionalProperties": true
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "function_call_output"
                    },
                    "call_id": {
                      "type": "string"
                    },
                    "output": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "call_id",
                    "output"
                  ],
                  "additionalProperties": true
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "item_reference"
                    },
                    "id": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "id"
                  ],
                  "additionalProperties": true
                }
              ]
            },
            "minItems": 1
          }
        ],
        "description": "Text, image, or file inputs to the model. Can be a string (treated as user message) or an array of input items."
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "param": {
                "type": "string"
              },
              "code": {
                "type": "string"
              }
            },
            "required": [
              "message",
              "type"
            ]
          }
        },
        "required": [
          "error"
        ]
      },
      "CreateChatCompletionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "const": "chat.completion"
          },
          "created": {
            "type": "integer"
          },
          "model": {
            "type": "string"
          },
          "choices": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "finish_reason": {
                  "type": "string",
                  "enum": [
                    "stop",
                    "length",
                    "tool_calls",
                    "content_filter",
                    "function_call"
                  ]
                },
                "index": {
                  "type": "integer"
                },
                "message": {
                  "type": "object",
                  "properties": {
                    "role": {
                      "type": "string",
                      "const": "assistant"
                    },
                    "content": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "refusal": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "tool_calls": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "const": "function"
                          },
                          "function": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "arguments": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "name",
                              "arguments"
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "type",
                          "function"
                        ]
                      }
                    },
                    "annotations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "const": "url_citation"
                          },
                          "url_citation": {
                            "type": "object",
                            "properties": {
                              "end_index": {
                                "type": "integer"
                              },
                              "start_index": {
                                "type": "integer"
                              },
                              "url": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "end_index",
                              "start_index",
                              "url",
                              "title"
                            ]
                          }
                        },
                        "required": [
                          "type",
                          "url_citation"
                        ]
                      }
                    }
                  },
                  "required": [
                    "role",
                    "content"
                  ],
                  "additionalProperties": true
                },
                "logprobs": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "properties": {
                    "content": {
                      "type": [
                        "array",
                        "null"
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "token": {
                            "type": "string"
                          },
                          "logprob": {
                            "type": "number"
                          },
                          "bytes": {
                            "type": [
                              "array",
                              "null"
                            ],
                            "items": {
                              "type": "integer"
                            }
                          }
                        },
                        "required": [
                          "token",
                          "logprob"
                        ],
                        "additionalProperties": true
                      }
                    },
                    "refusal": {
                      "type": [
                        "array",
                        "null"
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "token": {
                            "type": "string"
                          },
                          "logprob": {
                            "type": "number"
                          },
                          "bytes": {
                            "type": [
                              "array",
                              "null"
                            ],
                            "items": {
                              "type": "integer"
                            }
                          }
                        },
                        "required": [
                          "token",
                          "logprob"
                        ],
                        "additionalProperties": true
                      }
                    }
                  },
                  "required": [
                    "content",
                    "refusal"
                  ]
                }
              },
              "required": [
                "finish_reason",
                "index",
                "message",
                "logprobs"
              ]
            }
          },
          "usage": {
            "$ref": "#/components/schemas/CompletionUsage"
          },
          "system_fingerprint": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "object",
          "created",
          "model",
          "choices"
        ],
        "additionalProperties": true
      },
      "CompletionUsage": {
        "type": "object",
        "properties": {
          "prompt_tokens": {
            "type": "integer"
          },
          "completion_tokens": {
            "type": "integer"
          },
          "total_tokens": {
            "type": "integer"
          },
          "prompt_tokens_details": {
            "type": "object",
            "properties": {
              "cached_tokens": {
                "type": "integer"
              },
              "audio_tokens": {
                "type": "integer"
              }
            },
            "additionalProperties": true
          },
          "completion_tokens_details": {
            "type": "object",
            "properties": {
              "reasoning_tokens": {
                "type": "integer"
              },
              "audio_tokens": {
                "type": "integer"
              },
              "accepted_prediction_tokens": {
                "type": "integer"
              },
              "rejected_prediction_tokens": {
                "type": "integer"
              }
            },
            "additionalProperties": true
          }
        },
        "required": [
          "prompt_tokens",
          "completion_tokens",
          "total_tokens"
        ]
      },
      "CreateCompletionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "const": "text_completion"
          },
          "created": {
            "type": "integer"
          },
          "model": {
            "type": "string"
          },
          "choices": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "text": {
                  "type": "string"
                },
                "index": {
                  "type": "integer"
                },
                "logprobs": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "properties": {
                    "tokens": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "token_logprobs": {
                      "type": "array",
                      "items": {
                        "type": "number"
                      }
                    },
                    "top_logprobs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "number"
                        }
                      }
                    },
                    "text_offset": {
                      "type": "array",
                      "items": {
                        "type": "integer"
                      }
                    }
                  }
                },
                "finish_reason": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "enum": [
                    "stop",
                    "length",
                    null
                  ]
                }
              },
              "required": [
                "text",
                "index",
                "logprobs",
                "finish_reason"
              ]
            }
          },
          "usage": {
            "$ref": "#/components/schemas/CompletionUsage"
          },
          "system_fingerprint": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "object",
          "created",
          "model",
          "choices"
        ],
        "additionalProperties": true
      },
      "CreateResponseResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for this response."
          },
          "object": {
            "type": "string",
            "const": "response",
            "description": "The object type \u2014 always \"response\"."
          },
          "status": {
            "type": "string",
            "enum": [
              "completed",
              "failed",
              "in_progress",
              "cancelled",
              "queued",
              "incomplete"
            ],
            "description": "The status of the response generation."
          },
          "created_at": {
            "type": "number",
            "description": "Unix timestamp (in seconds) of when this response was created."
          },
          "completed_at": {
            "type": [
              "number",
              "null"
            ],
            "description": "Unix timestamp of completion. Only present when status is completed."
          },
          "model": {
            "type": "string",
            "description": "The model used to generate the response."
          },
          "output": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string",
                      "const": "message"
                    },
                    "role": {
                      "type": "string",
                      "const": "assistant"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "in_progress",
                        "completed",
                        "incomplete"
                      ]
                    },
                    "content": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "const": "output_text"
                              },
                              "text": {
                                "type": "string"
                              },
                              "annotations": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": true
                                }
                              }
                            },
                            "required": [
                              "type",
                              "text"
                            ],
                            "additionalProperties": true
                          },
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "const": "refusal"
                              },
                              "refusal": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "type",
                              "refusal"
                            ]
                          }
                        ]
                      }
                    }
                  },
                  "required": [
                    "id",
                    "type",
                    "role",
                    "status",
                    "content"
                  ],
                  "additionalProperties": true
                },
                {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string",
                      "const": "function_call"
                    },
                    "call_id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "arguments": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "type",
                    "call_id",
                    "name",
                    "arguments"
                  ],
                  "additionalProperties": true
                },
                {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string",
                      "const": "reasoning"
                    },
                    "summary": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    }
                  },
                  "required": [
                    "id",
                    "type"
                  ],
                  "additionalProperties": true
                }
              ]
            },
            "description": "An array of content items generated by the model."
          },
          "error": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            },
            "required": [
              "code",
              "message"
            ],
            "description": "Error details if the response generation failed."
          },
          "incomplete_details": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "reason": {
                "type": "string",
                "enum": [
                  "max_output_tokens",
                  "content_filter"
                ]
              }
            },
            "required": [
              "reason"
            ],
            "description": "Details about why the response is incomplete."
          },
          "instructions": {
            "type": [
              "string",
              "null"
            ]
          },
          "metadata": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {
              "type": "string"
            }
          },
          "temperature": {
            "type": [
              "number",
              "null"
            ]
          },
          "top_p": {
            "type": [
              "number",
              "null"
            ]
          },
          "max_output_tokens": {
            "type": [
              "integer",
              "null"
            ]
          },
          "tools": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "tool_choice": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "object",
                "additionalProperties": true
              }
            ]
          },
          "parallel_tool_calls": {
            "type": "boolean"
          },
          "truncation": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "auto",
              "disabled",
              null
            ]
          },
          "previous_response_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "reasoning": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "effort": {
                "type": "string",
                "enum": [
                  "none",
                  "minimal",
                  "low",
                  "medium",
                  "high",
                  "xhigh"
                ]
              },
              "summary": {
                "type": [
                  "string",
                  "null"
                ],
                "enum": [
                  "auto",
                  "concise",
                  "detailed",
                  null
                ]
              }
            }
          },
          "text": {
            "type": "object",
            "additionalProperties": true
          },
          "top_logprobs": {
            "type": [
              "integer",
              "null"
            ]
          },
          "usage": {
            "$ref": "#/components/schemas/ResponseUsage",
            "description": "Token usage details for this response."
          }
        },
        "required": [
          "id",
          "object",
          "status",
          "created_at",
          "model",
          "output"
        ],
        "additionalProperties": true
      },
      "ResponseUsage": {
        "type": "object",
        "properties": {
          "input_tokens": {
            "type": "integer"
          },
          "output_tokens": {
            "type": "integer"
          },
          "total_tokens": {
            "type": "integer"
          },
          "input_tokens_details": {
            "type": "object",
            "properties": {
              "cached_tokens": {
                "type": "integer"
              }
            },
            "required": [
              "cached_tokens"
            ],
            "additionalProperties": true
          },
          "output_tokens_details": {
            "type": "object",
            "properties": {
              "reasoning_tokens": {
                "type": "integer"
              }
            },
            "required": [
              "reasoning_tokens"
            ],
            "additionalProperties": true
          }
        },
        "required": [
          "input_tokens",
          "output_tokens",
          "total_tokens"
        ]
      },
      "CreateFileRequest": {
        "type": "object",
        "properties": {
          "file": {
            "type": "string",
            "format": "binary",
            "description": "The asset bytes (multipart/form-data field)"
          },
          "purpose": {
            "type": "string",
            "enum": [
              "vision",
              "video",
              "audio",
              "document"
            ],
            "description": "One of `vision`, `video`, `audio`, or `document`. Determines size + mime limits and which models can reference the file. Optional \u2014 if omitted, inferred from the file's MIME type."
          }
        },
        "required": [
          "file"
        ]
      },
      "FileObject": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable file id with `file-` prefix"
          },
          "object": {
            "type": "string",
            "const": "file"
          },
          "bytes": {
            "type": "integer"
          },
          "created_at": {
            "type": "integer",
            "description": "Unix timestamp"
          },
          "expires_at": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Unix timestamp; defaults to 30 days from upload"
          },
          "filename": {
            "type": [
              "string",
              "null"
            ]
          },
          "purpose": {
            "type": "string",
            "enum": [
              "vision",
              "video",
              "audio",
              "document"
            ]
          }
        },
        "required": [
          "id",
          "object",
          "bytes",
          "created_at",
          "expires_at",
          "filename",
          "purpose"
        ]
      },
      "FileList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "const": "list"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FileObject"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "first_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "last_id": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "object",
          "data",
          "has_more",
          "first_id",
          "last_id"
        ]
      },
      "FileDeleted": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "const": "file"
          },
          "deleted": {
            "type": "boolean",
            "description": "Always true on a successful delete"
          }
        },
        "required": [
          "id",
          "object",
          "deleted"
        ]
      },
      "UploadObject": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable upload session id with `upload-` prefix"
          },
          "object": {
            "type": "string",
            "const": "upload"
          },
          "bytes": {
            "type": "integer",
            "description": "Declared total size of the file being uploaded"
          },
          "created_at": {
            "type": "integer",
            "description": "Unix timestamp"
          },
          "expires_at": {
            "type": "integer",
            "description": "Unix timestamp (1 hour from creation by default)"
          },
          "filename": {
            "type": [
              "string",
              "null"
            ]
          },
          "purpose": {
            "type": "string",
            "enum": [
              "vision",
              "video",
              "audio",
              "document"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "completed",
              "cancelled",
              "expired"
            ]
          },
          "file": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/FileObject"
              },
              {
                "type": "null"
              }
            ],
            "description": "Populated once status is `completed`"
          }
        },
        "required": [
          "id",
          "object",
          "bytes",
          "created_at",
          "expires_at",
          "filename",
          "purpose",
          "status",
          "file"
        ]
      },
      "UploadPartObject": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable part id with `part-` prefix"
          },
          "object": {
            "type": "string",
            "const": "upload.part"
          },
          "upload_id": {
            "type": "string"
          },
          "created_at": {
            "type": "integer",
            "description": "Unix timestamp"
          }
        },
        "required": [
          "id",
          "object",
          "upload_id",
          "created_at"
        ]
      },
      "CreateUploadRequest": {
        "type": "object",
        "properties": {
          "filename": {
            "type": "string"
          },
          "purpose": {
            "type": "string",
            "enum": [
              "vision",
              "video",
              "audio",
              "document"
            ]
          },
          "bytes": {
            "type": "integer",
            "minimum": 0,
            "description": "Declared total size in bytes; checked against `purpose` limits"
          },
          "mime_type": {
            "type": "string",
            "description": "Mime type; checked against `purpose` allowlist"
          }
        },
        "required": [
          "filename",
          "purpose",
          "bytes",
          "mime_type"
        ]
      },
      "AddUploadPartRequest": {
        "type": "object",
        "properties": {
          "data": {
            "type": "string",
            "format": "binary",
            "description": "Bytes for this part (multipart/form-data field), max 64 MB"
          }
        },
        "required": [
          "data"
        ]
      },
      "CompleteUploadRequest": {
        "type": "object",
        "properties": {
          "part_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "minItems": 1,
            "description": "Ordered list of part ids returned by /parts"
          },
          "md5": {
            "type": "string",
            "description": "Optional MD5 of the assembled file"
          }
        },
        "required": [
          "part_ids"
        ]
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "InsufficientCredits": {
        "description": "Insufficient Credits",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "RateLimited": {
        "description": "Rate Limited",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal Server Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "BadGateway": {
        "description": "Bad Gateway",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "GatewayTimeout": {
        "description": "Gateway Timeout",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key",
        "description": "Authorization: Bearer <API_KEY>"
      }
    },
    "parameters": {},
    "requestBodies": {},
    "headers": {},
    "examples": {}
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}
