interactions:
- request:
    body: null
    headers:
      authorization:
      - Bearer <AIAND_API_KEY>
    method: GET
    uri: https://api.aiand.com/v1/models
  response:
    body:
      string: '{"object":"list","data":[{"id":"google/gemma-3-27b-it","name":"google/gemma-3-27b-it","object":"model","created":1775474514,"owned_by":"ai&","provider":"google","context_window":131072,"capabilities":[],"description":"Google
        Gemma 3 27B instruction-tuned","input_per_1m":"0.000000","output_per_1m":"0.000000"},{"id":"google/gemma-4-31b-it","name":"google/gemma-4-31b-it","object":"model","created":1775474514,"owned_by":"ai&","provider":"google","context_window":262144,"capabilities":["reasoning","tool_calling","vision","video","document"],"description":"Google
        Gemma 4 31B instruction-tuned","input_per_1m":"0.200000","output_per_1m":"0.500000"},{"id":"qwen/qwen3.5-9b","name":"qwen/qwen3.5-9b","object":"model","created":1775474514,"owned_by":"ai&","provider":"qwen","context_window":26[...]
