interactions:
- request:
    body: '{"filename": "aiand-vcr-cancel.pdf", "purpose": "document", "bytes": 77,
      "mime_type": "application/pdf"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Bearer <AIAND_API_KEY>
    method: POST
    uri: https://api.aiand.com/v1/uploads
  response:
    body:
      string: '{"id":"upload-3839cfd4bc134d8781fc3a0be03b960f","object":"upload","bytes":77,"created_at":1780389618,"expires_at":1780393217,"filename":"aiand-vcr-cancel.pdf","purpose":"document","status":"pending","file":null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - Bearer <AIAND_API_KEY>
    method: POST
    uri: https://api.aiand.com/v1/uploads/upload-3839cfd4bc134d8781fc3a0be03b960f/cancel
  response:
    body:
      string: '{"id":"upload-3839cfd4bc134d8781fc3a0be03b960f","object":"upload","bytes":77,"created_at":1780389618,"expires_at":1780393217,"filename":"aiand-vcr-cancel.pdf","purpose":"document","status":"cancelled","file":null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
