interactions:
- request:
    body: '{"filename": "aiand-vcr-cancel.pdf", "purpose": "document", "bytes": 77,
      "mime_type": "application/pdf"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - Bearer <AIAND_API_KEY>
    method: POST
    uri: https://api.aiand.com/v1/uploads
  response:
    body:
      string: '{"id":"upload-c80678fe69ef4e3796a7512b1c763bed","object":"upload","bytes":77,"created_at":1779463507,"expires_at":1779467106,"filename":"aiand-vcr-cancel.pdf","purpose":"document","status":"pending","file":null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - Bearer <AIAND_API_KEY>
    method: POST
    uri: https://api.aiand.com/v1/uploads/upload-c80678fe69ef4e3796a7512b1c763bed/cancel
  response:
    body:
      string: '{"id":"upload-c80678fe69ef4e3796a7512b1c763bed","object":"upload","bytes":77,"created_at":1779463507,"expires_at":1779467106,"filename":"aiand-vcr-cancel.pdf","purpose":"document","status":"cancelled","file":null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
